NEXT_PUBLIC_SUPABASE_URL= https://supabase.com/dashboard/project/fmoqxwqusuolkxygqrvv
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZtb3F4d3F1c3VvbGt4eWdxcnZ2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc3MDg0NTcsImV4cCI6MjA5MzI4NDQ1N30.1rqtznZl_N_IPysw5BA2sXQ_INJqWsfPeJZYIIrB8wU
SUPABASE_SERVICE_ROLE_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZtb3F4d3F1c3VvbGt4eWdxcnZ2Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NzcwODQ1NywiZXhwIjoyMDkzMjg0NDU3fQ.KN-zLaiXATa7kmGy7oN6aRWiHGl44s_eRhRzRYI5oXE
SUPABASE_JWT_SECRET= 05fd44d8-a3d4-4a25-8ecf-999335b73927
MIDTRANS_SERVER_KEY= 
MIDTRANS_CLIENT_KEY=
MIDTRANS_IS_PRODUCTION=false
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
NEXT_PUBLIC_APP_URL=http://localhost:3000
